<div class="row">
    <div class="col-12">
        <div style="width:100%;">
            <div style="width:60%; margin: 0 auto;">
                <div class="d-inline-flex justify-content-center align-items-center m-4 h2"><a routerLink="" class="b__contenedor-enlace">HOME</a></div>
                <div class="d-inline-flex justify-content-center align-items-center m-4 h2"><a routerLink="/characters" class="b__contenedor-enlace">PERSONAJES</a></div>
                <div class="d-inline-flex justify-content-center align-items-center m-4 h2"><a routerLink="/houses" class="b__contenedor-enlace">CASAS</a></div>
                <div class="d-inline-flex justify-content-center align-items-center m-4 h2"><a routerLink="/cronology" class="b__contenedor-enlace">CRONOLOGIA</a></div>
                <div class="float-right">
                    <img src="../../../assets/img/espana.png" class="b__imgidioma ml-2 mr-2 mt-2">
                    <img src="../../../assets/img/reino-unido.png" class="b__imgidioma ml-2 mr-2 mt-2">
                </div>
            </div>
        </div>
    </div>
</div>
