ul {
    padding-inline-start: 20px;
}

.list--elements-table{
    width: 19rem;
    height: 19rem;
    overflow-y: auto;
}
.b__img-adjust-normal{
    width: 13.5rem;
    height: 19rem;
}

.b__contenedor-listCharacters{
    width:60%;
    margin: 0 auto;
}

.b__contenedor-character{
    width: 13.5rem;
}