<app-header></app-header>
<table class="table table-striped table-dark b__contenedor-tabla">
    <thead>
        <tr>
            <th *ngFor="let colName of characters | keyvalue" scope="col">{{ colName.key }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="b__listCharacter-info">{{ characters?.age }}</td>
            <td class="b__listCharacter-info">{{ characters?.culture }}</td>
            <td class="b__listCharacter-info">{{ characters?.father }}</td>
            <td class="b__listCharacter-info">{{ characters?.gender }}</td>
            <td class="b__listCharacter-info">{{ characters?.house }}</td>
            <td class="b__listCharacter-info"><img class="b__img-adjust-normal" src="{{ characters?.image }}"></td>
            <td class="b__listCharacter-info">{{ characters?.isAlive }}</td>
            <td class="b__listCharacter-info">{{ characters?.name }}</td>
            <td class="b__listCharacter-info">{{ characters?.performer }}</td>
            <td class="b__listCharacter-info">
                <ul class="b__listCharacter-info-list">
                    <li *ngFor="let related of characters?.related">
                        {{ related }}
                    </li>
                </ul>
            </td>
            <td class="b__listCharacter-info">{{ characters?.religion }}</td>
            <td class="b__listCharacter-info">
                <ul class="b__listCharacter-info-list">
                    <li *ngFor="let siblings of characters?.siblings">
                        {{ siblings }}
                    </li>
                </ul>
            </td>
            <td class="b__listCharacter-info">{{ characters?.spouse }}</td>
            <td class="b__listCharacter-info">
                <ul class="b__listCharacter-info-list">
                    <li *ngFor="let titles of characters?.titles">
                        {{ titles }}
                    </li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>