/* You can add global styles to this file, and also import other style files */
html, body{
    height: 100%;
    font-family: GameOfThrone;
    font-size: 75%;
    background-color: black;
    color: white;
}

.row{
    margin-left: 0px;
    margin-right: 0px;
}

@font-face {
    font-family: GameOfThrone;
    src: url(assets/typography/GameOfThrones.ttf) format("opentype");
}