.b__img-adjust-normal{
    width: 13.5rem;
    height: 19rem;
}

.b__contenedor-listCharacters{
    width:60%;
    margin: 0 auto;
}

.b__contenedor-character{
    width: 13.5rem;
}

.b__contenedor-enlace{
    color: white;
    text-decoration:none;
}
.b__contenedor-enlace:hover{
    color: rgba(11, 174, 202, 0.705);
}

.carousel-indicators{
    position: relative;
}