.b__img-adjust-normal{
    width: 13.5rem;
    height: 19rem;
}

.b__contenedor-listCharacters{
    width:60%;
    margin: 0 auto;
}

.b__contenedor-character{
    width: 13.5rem;
}

.b__contenedor-enlace{
    color: white;
    text-decoration:none;
}
.b__contenedor-enlace:hover{
    color: rgba(11, 174, 202, 0.705);
}

.b__contenedor-enlaceRangos{
    font-size: 25px;
}

.b__contenedor-enlaceRangos.arrow-right{
    width: 33%;
    text-align: start;
    transition: width 0.9s, text-align 0.9s;
}

.b__contenedor-enlaceRangos.arrow-right:hover{
    cursor: pointer;
    text-align: center;
    color: rgba(11, 174, 202, 0.705);
    width: 100%;
}

.b__contenedor-tituloRangos{
    font-size: 1rem;
}